*, *:before, *:after {
  box-sizing: border-box;
}




/* nav bar*/
/*start of schedule title and filter. should remain static during scroll*/
.status_bar {
  z-index: 1;
  width: 100%;
}

.top {
  font-family: helvetica;
  z-index: 1;
  width: 100%;
  position: fixed;
  background-color: #248C43;
  height: 12%;

}


.back {
  float: left;
  padding-top: 3%;
  padding-left: 3%;
}
.nav_bar {

	width: 100%;
	color: whitesmoke;
	background-color: #248C43;
  padding-bottom: 2%;
  font-weight: medium;
  font-size: 150%;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1);
}

#sched {
  padding-top: 3.5%;
  padding-bottom: 4%;
  padding-left: 20%;
}


.container {
  background-color: #FDFBE1;
  padding-top: 28%;
  padding-bottom: 17%;
  width: 100%;
}

.filter img {
  padding-top: .9em;
  width: .6em;
  float: left;
  display: inline;
  margin-right: 1em;


}

.filter a {
  color: white;
  text-decoration: none;
  display: inline;
  position: relative;
	padding-left: 20%;
	padding-top: 3%;
	float: left;
	width: 60%;
}



.sort {
	padding-left: 3%;
	width: 33%;
  padding-top: 3%;
	float: left;
}
/*end of schedule title and filter. should remain static during scroll*/

.listing {
  font-family: helvetica;
  font-size: 130%;
	background-color:#FDFBE1;
	display: table;
	width: 100%;
		padding-top:3%;
	padding-bottom: 3%;
  padding-left: 5%;
  
}

.listingborder {
  font-family: helvetica;
  font-size: 130%;
  background-color:#FDFBE1;
  display: table;
  width: 100%;
    padding-top:3%;
  padding-bottom: 3%;
  padding-left: 5%;
  border-bottom: .02em solid gray;
}


.sixty  {
  float:left;
  border-radius: 50%;
  padding: 6.28%;

  background: #3ddb3d;
    color: black;

    font: 20px Arial bold, sans-serif;
}

.sixx {
  float:left;
  border-radius: 50%;
  padding: 6.78%;

  background: #edde3b;
    color: black;

    font: 20px Arial bold, sans-serif;
}


.onetwentyfour, .onefiftyone, .jfourteen, .onetwentyfour{
	float:left;
  border-radius: 50%;
  padding-bottom: 6.5%;
  padding-top: 6.5%;
  padding-right: 5%;
  padding-left: 5%;

  background: #3ddb3d;
    color: black;

    font: 20px Arial bold, sans-serif;
}

.onefiftyseven {
  float:left;
  border-radius: 50%;
  padding-bottom: 6.5%;
  padding-top: 6.5%;
  padding-right: 5%;
  padding-left: 5%;


  background: #ed4a3b;
    color: black;

    font: 20px Arial bold, sans-serif;
}

.twenty {
  float:left;
  border-radius: 50%;
  padding: 6.28%;

  background: #ed4a3b;
    color: black;

    font: 20px Arial bold, sans-serif;
}

.four  {
  float:left;
  border-radius: 50%;
  padding-bottom: 6.5%;
  padding-top: 6.5%;
  padding-right: 7.8%;
  padding-left: 7.8%;

  background: #ed4a3b;
    color: black;

    font: 20px Arial bold, sans-serif;
}


#north, #south, #east, #reroute, #oos {

  font: 18px Arial bold, sans-serif;
  width: 100%;
  color: white;
  background-color: #8c968c;
  padding-top: .5em;
  padding-left: 2em;
  padding-bottom: .5em;
  text-transform: uppercase;

}


.arrive {
  font-size: .9em;
  display: table;
  float: left;
	width: 75%;
  padding-left: 8%;
  padding-top: 3.5%;
  padding-bottom: 2%;
}

#pin {
  padding-left: 2%;
  padding-right: 2%;
  height: 1em;
  margin-left: .25em;
}

#clock {
  margin-left: .5em;
  width: 16px;
}


.navbottom {
  background-color: #248C43;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
}
.navbottom a {
  float: left;
  display: inline;
  color: #3CB255;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 17px;
}

#star {
  margin-right: 1em;
  margin-left: 1.5em;
  float: left;
  width: 2em;
  position: relative;
}

#home {
  width: 2em;
  margin-left: .5em;
    margin-right: 1em;

  float: left;

  position: relative;
  
}

#search {
    margin-right: 1em;
    margin-left: .2em;

  float: left;
  width: 2em;
  position: relative;
}

#maps {
  float: left;
  margin-left: .7em;
  width: 1.4em;
  position: relative;
}



#fv, #hm, #se, #ma {
  color: white;
  font-family: helvetica;
  bottom: .3em;
  position: relative;
  display: inline;
  float: left;
}
#fv {
  margin-left: 1.5em;
  margin-right: .4em;
}

#hm {
  margin-left: 1.9em;
  margin-right: 1em;
}

#se {
  margin-left: 1.8em;
  margin-right: 1.3em;
}

#ma {
  margin-left: 1.6em;
  margin-right: 1.5em;
}
hr {
  width: 85%;
  display: block;
}
