*, *:before, *:after {
  box-sizing: border-box;
}

 body {
  margin: auto;
  width: 375px;
  height: 667px;
 }


/* nav bar*/
/*start of schedule title and filter. should remain static during scroll*/
.status_bar {
  z-index: 1;
  width: 100%;
}

.top {
  font-family: helvetica;
  z-index: 1;
  position: fixed;
  background-color: #248C43;
  height: 12%;

}


.back {
  float: left;
  padding-top: 3%;
  padding-left: 3%;
}
.nav_bar {

	width: 375px;
	color: whitesmoke;
	background-color: #248C43;
  padding-bottom: 2%;
  font-weight: medium;
  font-size: 150%;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1);
}

#sched {
  padding-top: 3.5%;
  padding-bottom: 4%;
  padding-left: 20%;
}


.container {
  background-color: #FDFBE1;
  padding-top: 28%;
  padding-bottom: 17%;
  width: 100%;

}

.height {
  height: 667px;
}

.filter img {
  padding-top: .9em;
  width: .6em;
  float: left;
  display: inline;
  margin-right: 1em;


}

.filter a {
  color: white;
  text-decoration: none;
  display: inline;
  position: relative;
	padding-left: 20%;
	padding-top: 3%;
	float: left;
	width: 60%;
}



.sort {
	padding-left: 3%;
	width: 33%;
  padding-top: 3%;
	float: left;
}
/*end of schedule title and filter. should remain static during scroll*/

.listing {
  font-family: helvetica;
  font-size: 130%;
	background-color:#FDFBE1;
	display: table;
	width: 100%;
		padding-top:3%;
	padding-bottom: 3%;
  padding-left: 5%;
  
}

.listingborder {
  font-family: helvetica;
  font-size: 130%;
  background-color:#FDFBE1;
  display: table;
  width: 100%;
    padding-top:3%;
  padding-bottom: 3%;
  padding-left: 5%;
  border-bottom: .02em solid gray;
}


.sixty  {
  float:left;
  border-radius: 50%;
  padding: 6.28%;
  margin-top: .3em;
  background: #3ddb3d;
    color: black;
    border: .08em solid black;
    font: 20px Arial bold, sans-serif;
}

.sixx {
  float:left;
  border-radius: 50%;
  padding-top: 6.78%;
  padding-bottom: 6.78%;
  padding-left: 7.2%;
  padding-right: 7.2%;

  background: #edde3b;
    color: black;
    border: .08em solid black;

    font: 20px Arial bold, sans-serif;
}

.onefiftyone, .jfourteen, .onetwentyfour{
	float:left;
  margin-top: .3em;
  border-radius: 50%;
  padding-bottom: 6.5%;
  padding-top: 6.5%;
  padding-right: 5%;
  padding-left: 5%;

  background: #3ddb3d;
    color: black;
    border: .08em solid black;

    font: 20px Arial bold, sans-serif;
}

.onefiftyseven {
  float:left;
  border-radius: 50%;
  padding-bottom: 6.5%;
  padding-top: 6.5%;
  padding-right: 5%;
  padding-left: 5%;


  background: #ed4a3b;
    color: black;
    border: .08em solid black;

    font: 20px Arial bold, sans-serif;
}

.twenty {
  float:left;
  border-radius: 50%;
  padding: 6.28%;

  background: #ed4a3b;
    color: black;
    border: .08em solid black;

    font: 20px Arial bold, sans-serif;
}

.four  {
  float:left;
  border-radius: 50%;
  padding-bottom: 6.5%;
  padding-top: 6.5%;
  padding-right: 8.2%;
  padding-left: 8.2%;
  border: .08em solid black;

  background: #ed4a3b;
    color: black;

    font: 20px Arial bold, sans-serif;
}


#north, #south, #east, #reroute, #oos {

  font: 18px Arial bold, sans-serif;
  width: 100%;
  color: white;
  background-color: #8c968c;
  padding-top: .5em;
  padding-left: 2em;
  padding-bottom: .5em;
  text-transform: uppercase;

}


.arrive {
  font-size: .9em;
  display: table;
  float: left;
	width: 75%;
  padding-left: 6%;
  padding-top: 3.5%;
  padding-bottom: 2%;
}

#repeat {
  width: .9em;
  margin-left: 7px;
}

#pin {
  padding-left: 2%;
  padding-right: 2%;
  height: 1em;
  margin-left: .25em;
}

#clock {
  margin-left: .42em;
  width: 16px;
}


.navbottom {
  float: left;
  background-color: #248C43;
  position: fixed;
  bottom: 0;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
  width: 375px;
  height: 4em;
}

.navbottom li {
  display: block;
  width: 25%;
  float: left;
  padding-left: 7%;

}

.navbottom p {
  position: relative;
  padding-top: 1.8em;
  padding-right: .8em;
    color: white;
  font-family: helvetica;
}

.navbottom img {
  position: relative;
  max-width: 2.1em;
  float: left;
  padding-top: .4em;
  margin-left: 10%;

}

#maps {
  max-width: 1.6em;
}

#ma {
  margin-left: .25em;
}
#se {
  margin-left: -.17em;
}

#hm {
  margin-left: .22em;
}

#fv {
  margin-left: -.3em;
}
