*, *:before, *:after {
  box-sizing: border-box;
}




/* nav bar*/
/*start of schedule title and filter. should remain static during scroll*/
.status_bar {
  width: 100%;
}
.top {
  font-family: helvetica;
  z-index: 5;
  width: 100%;
  position: fixed;
  background-color: #248C43;
  height: 12%;
}


.back {
  float: left;
  padding-left: 3%;
}
.nav_bar {

	width: 100%;
	color: whitesmoke;
	background-color: #248C43;
  padding-bottom: 2%;
  font-weight: medium;
  font-size: 150%;
}

#sched {
  padding-bottom: 3%;
  padding-left: 32%;
}
.filter {
    width: 100%;
    background-color: #3CB255;
    color: white;
    font-size: 90%;
    font-weight: light;
    padding-bottom: 10%;
}


.container {
  background-color: #FDFBE1;
  padding-top: 37%;
  padding-bottom: 20%;
  width: 100%;
}

.filter img {
  padding-top: .9em;
  width: .6em;
  float: left;
  display: inline;
  margin-right: 1em;


}

.filter a {
  color: white;
  text-decoration: none;
  display: inline;
  position: relative;
	padding-left: 20%;
	padding-top: 3%;
	float: left;
	width: 60%;
}



.sort {
	padding-left: 3%;
	width: 33%;
  padding-top: 3%;
	float: left;
}
/*end of schedule title and filter. should remain static during scroll*/

.listing {
  font-family: helvetica;
  font-size: 130%;
	background-color:#FDFBE1;
	display: table;
	width: 100%;
		padding-top:3%;
	padding-bottom: 3%;
  padding-left: 5%;
}




.fortythree, .fifteen, .five, .one, .three, .seventy {
	float:left;
  border-radius: 50%;
  width: 15%;

  padding: 8px;

  background: #248C43;
    color: white;
    text-align: center;

    font: 32px Arial, sans-serif;
}


.arrive {
  display: table;
  float: left;
	width: 75%;
  padding-left: 8%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#pin {
  padding-left: 2%;
  padding-right: 2%;
  height: 1em;
}

#clock {
  width: 16px;
}

#south {
  position: absolute;
  left: 80%;
  width: 10%;
  padding-bottom: 5%;
}

#north {
  position: absolute;
  left: 80%;
  width: 10%;
  padding-bottom: 5%;
}

#ne {
  position: absolute;
  left: 77%;
  width: 15%;
  padding-bottom: 5%;
}



.navbottom {
  background-color: #3CB255;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.navbottom a {
  float: left;
  display: inline;
  color: #3CB255;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 17px;
}

#star {
  margin-right: 1em;
  margin-left: .5em;
  float: left;
  width: 2.6em;
  position: relative;
}

#home {
  width: 2.6em;
    margin-right: 1em;

  float: left;

  position: relative;
  
}

#search {
    margin-right: 1em;

  float: left;
  width: 2.6em;
  position: relative;
}

#maps {
  float: left;
  width: 1.8em;
  position: relative;
}



#fv, #hm, #se, #ma {
  color: white;
  font-family: helvetica;
  bottom: .3em;
  position: relative;
  display: inline;
  float: left;
}
#fv {
  margin-left: 1em;
  margin-right: .4em;
}

#hm {
  margin-left: 1.9em;
  margin-right: 1em;
}

#se {
  margin-left: 1.8em;
  margin-right: 1.3em;
}

#ma {
  margin-left: 1.6em;
  margin-right: 1.5em;
}
hr {
  width: 85%;
}
